 /* @font-face { /* 외부 참고 
    font-family: 'Noto Sans KR', sans-serif;
    src: "https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap";
    font-weight: normal;
}  적용 x */

  /* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
  * {
    font-family: 'Noto Sans KR', sans-serif;
  } 적용 x */


/* @font-face {
    font-family: 'NanumSquare';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.ttf) format("truetype");
} 적용 x*/

header {
    background-color: rgba(17, 16, 16, 0.795);
    /* color:rgba(253, 191, 57, 0.952); 그냥 color가 폰트컬러 */
    color:rgb(247, 163, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* padding: 30px 0; */
    /* width: 1000px; */
}

.wrapper {
    background-color: black;
    /* width 줄 필요 x - 가로길이제한됨 */
}

.card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
  
  .movie-card {
    margin: 20px;
    padding: 20px;
    width: 300px;
    justify-self: center;
    background-color:rgb(238, 179, 103);
    color:black;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
  }
  
  .movie-card img {
    width: 100%;
    border-radius: 3px;
  }

.search { /*클래스명 .으로 시작*/
    background-color: black;
    border: 3px solid rgb(247, 163, 54);
    height: 200px;
    justify-content: center;
    align-items: center;

    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    
}

#search-label { /*id명 #으로 시작, 이름 다르지 않은 지 확인! */
    font-size: 20px;
    color: rgb(247, 163, 54);
} 

#search-input {
    margin-left: 40px;
    width: 500px;
    height: 50px;
    padding: 5px 10px;
    font-size: 20px;
    color:coral;
    border: 5px solid rgb(247, 163, 54);
    border-radius: 5px;
    
}

#search-btn {
  background-color: rgb(247, 163, 54);
  border-color: rgb(247, 163, 54);
  margin-left: 20px;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
}

.footer-text {
    color: rgba(32, 32, 32, 0.432);
    font-size:15px;
}